---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <a href="/">home</a>
        <a href="/about/">about</a>

        <h1>About me</h1>
        <h2>... and my new Astro Site</h2>

        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates
            dolores, tenetur veritatis molestias unde corrupti provident
            inventore vel eum nostrum, itaque natus sequi, placeat ipsum
            necessitatibus officia reprehenderit fuga qui!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            quis saepe vitae cum! Esse repellat, eum fugit magnam ut neque animi
            ipsum, nulla nobis accusamus, delectus excepturi explicabo quos
            temporibus?
        </p>
    </body>
</html>
