---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <a href="/">home</a>
        <a href="/about/">about</a>
        <a href="/blog/">blog</a>

        <h1>Blog</h1>

        <p>This is my blog page</p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            quis saepe vitae cum! Esse repellat, eum fugit magnam ut neque animi
            ipsum, nulla nobis accusamus, delectus excepturi explicabo quos
            temporibus?
        </p>
    </body>
</html>
